.parameter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $s-size;
    border-bottom: 1px solid $light-grey;
}

.parameter__label {
    min-width: 8rem;
}

.slider-container {
    padding-top: $xs-size;
    flex: 1;
    min-height: $xl-size;
    position: relative;
  }
  
  .slider__range {
    width: 100%;
    height: 0.3rem;
    -webkit-appearance: none;
  }
  
  .slider__range-contaner {
    margin-top: 1.4rem;
  }
  
  /********** Thumb **********/
  
  @mixin rangeThumb {
    width: $s-size;
    height: $s-size;
    margin: -0.5rem 0 0;
    border-radius: 50%;
    background: $option-choose;
    cursor: pointer;
    border: 0 !important;
  }
  
  .slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include rangeThumb;
  }
  
  .slider__range::-moz-range-thumb {
    @include rangeThumb;
  }
  
  .slider__range::-ms-thumb {
    @include rangeThumb;
  }
  
  /********** Track **********/
  
  @mixin rangeTrack {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /*  background: #b2b2b2; */
  }
  
  .slider__range::-webkit-slider-runnable-track {
    @include rangeTrack;
  }
  
  .slider__range::-moz-range-track {
    @include rangeTrack;
  }
  
  .slider__range::-ms-track {
    @include rangeTrack;
  }
  
  .slider__range:focus {
    background: none;
    outline: none;
  }
  
  .slider__labels-container {
    position: absolute;
    display: flex;
    justify-content: space-between;  
    width: 100%;
  }
  
  .slider__label {
    font-size: $s-size;
    font-weight: 500;
    color: darken($light-grey, 10%);
    cursor: pointer;
    min-width: 1rem;
    text-align: center;
    margin-top: .3rem;
  }
  
  .slider__label::before { 
    position: absolute;
    top: 2.3rem;
    content: "";
    margin: 0 auto;
    width: 0.8rem;
    height: 0.8rem;
    background: darken($light-grey, 10%);
    border-radius: 50%;
  }
  
  .slider__label--selected {
    color: $option-choose;
    font-size: $m-size;
    transition: .2s;
    margin-top: 0;
  }
  
  .slider__label--first {
    text-align: left;
  }
  
  .slider__label--last {
    text-align: right;
  }
  
  .slider__label--active::before {
    background: $option-choose;
  }
  
  .slider__label--selected.slider__label--active::before {
    visibility: hidden;
  }
  
  