.results__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .results__list {
    position: absolute;
    top: 101vh;
  }
}
