.search-form {
  display: flex;
  justify-content: center;
}

.search-form__form {
  max-width: 55rem;
  width: 100%;
  margin: 0 $xm-size;
}

.search-form__autoinput-group {
  display: flex;
  flex-direction: column;
}

