.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo-container {
  margin: $s-size 0 0 $s-size;
  height: 4.8rem;
  width: 7rem;
}

.header__logo {
  width: 70%;
  height: auto;
}

.header__menu-container {
  height: 100%;
  list-style: none;
  /* margin: 0 20px 0 0; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: $m-size;
  font-weight: 700;
}

.header__menu-item {
  border-bottom: 0.3rem solid transparent;
  margin: 0 $s-size;
  height: 100%;
}

.header__menu-item:hover {
  border-bottom: 0.3rem solid $dark-grey;
}

.header__menu-link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: $dark-grey;
}

.header__menu-button {
  height: 100%;
  border: none;
  background: none;
  color: $dark-grey;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.header__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  //margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  outline: none;
  padding: $m-size $l-size $l-size $l-size;
  width: 100%;
  max-width: 55rem;
}

.header__modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.3);;
}

.header__title {
  font-size: 4vh;
  color: white;
  position: absolute;
  top: calc(100% + 22vh);
}

.header__close-button-container {
  overflow: hidden;
}

.header__close-button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: $l-size;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: $dark-grey;
  float: right;

}

@media (min-width: $desktop-breakpoint) {
  .header__title {
    position: relative;
    color: $dark-grey;
    font-size: 2.9rem;
    top: 0;
  }
  
  .header__menu-container {
    margin-right: $xs-size;
  }

  .header__menu-item {
    margin: 0 $m-size;
  }

  .header__logo-container {
    margin: $xm-size 0 0 $s-size;
    height: 5.6rem;
    width: 7.5rem;
  }
}

@media (max-width: $desktop-breakpoint) {
  .header__title {
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
