.text-area__leadtext-container {
    max-width: $content-width;
    //padding: 5rem $s-size 2.4rem;
    padding: $l-size $s-size 0 $s-size;
    color: $mid-grey;
}
.text-area__leadtext-item {
    font-size: $l-size;
    color: $dark-grey;
}

.text-area__leadtext-population {
    margin-top: $m-size;
}

@media(max-width: $desktop-breakpoint) {

    .text-area__leadtext-container {
        padding-top: $xl-size;
    }

    .text-area__leadtext-item {
        font-size: 1.8rem;
    }

    .text-area__leadtext-population {
        font-size: 1.4rem;
        margin-top: $s-size;
    }

    .text-area__leadtext-date {
        font-size: 1.4rem;
    }
}