.text-area__leadtext-container {
    max-width: 80rem;
    padding: 5rem $s-size;
    color: $mid-grey;
}
.text-area__leadtext-item {
    font-size: $l-size;  
}

.text-area__leadtext-population {
    margin-top: $m-size;
}

@media(max-width: $desktop-breakpoint) {

    .text-area__leadtext-container {
        padding-top: 3.6rem;
        padding-bottom: 2.4rem;
    }

    .text-area__leadtext-item {
        font-size: 1.8rem;
    }

    .text-area__leadtext-population {
        font-size: 1.4rem;
        margin-top: $s-size;
    }

    .text-area__leadtext-date {
        font-size: 1.4rem;
    }
}