.travel__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travel__leadtext-container {
    max-width: 80rem;
    padding: 5rem 0;
    color: $mid-grey;
}
.travel__leadtext-item {
    font-size: $l-size;
    
}

.travel__leadtext-population {
    margin-top: $m-size;
}

.travel__leadtext-date {

}

