.travel__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.travel__divider {
    border-top: 0.1rem solid lighten($light-grey, 15%);
    width: 100%;
    max-width: $content-width;
    margin-top: $l-size;
    margin-bottom: $l-size;
}

.travel__notification-button {
    position: relative;
    max-width: $content-width;
    width: 100%;
    text-align: left;
    padding-bottom: $s-size;
    white-space: nowrap;
}

.travel__notification-icon {
    position: absolute;
    left: $m-size;
    height: 2.2rem;
    width: auto;
}


@media (max-width: $desktop-breakpoint) {
    .travel__notification-button {
        padding-right: $s-size;
        padding-left: $s-size;
        font-size: $s-size;
    }

    .travel__notification-icon {
        left: 2.4rem;
        height: 2rem;
    }
}