.weather-card__container {
    position: relative;
    color: $dark-grey;
    width: 100%;
    max-width: $content-width;
    padding: 0 $s-size $s-size $s-size;
}

.weather-card__icon {
    position: absolute;
    top: 3rem;
    left: 20rem;
    height: 11rem;
    width: 11rem;
    background-repeat: no-repeat;
}

.weather-card__title {
    font-size: 2rem;
    font-weight: 500;
}

.weather-card__temperature {
    font-size: $xl-size;
    font-weight: 500;
    display: block;
    margin-top: $xm-size;
}

.weather-card__condition {
    color: $mid-grey;
    font-size: $xm-size;
    margin-top: $xs-size;
    margin-left: .2rem;
    display: block;
}

@media (max-width: $desktop-breakpoint) {
    .weather-card__container {
        padding-bottom: 0;
    }

    .weather-card__title {
        font-size: $xm-size;
    }

    .weather-card__temperature {
        font-size: 4.2rem;
    }

    .weather-card__condition {
        font-size: $m-size;
    }

    .weather-card__icon {
        top: 3rem;
        left: 18rem;
        height: 10rem;
        width: 10rem;
    }
}