.weather-card__container {
    border: 0.1rem solid $light-grey;
    border-radius: $xs-size;
    max-width: 40rem;
    height: 20rem;
    position: relative;
    // display: flex;
    // justify-content: space-around;
}

.weather-card__icon {
    position: absolute;
    right: 0;
    height: 12rem;
    width: 12rem;
    background-repeat: no-repeat;
    margin-right: $m-size;
    margin-top: 6rem;
}

.weather-card__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $light-black;
    height: 100%;
    padding-top: $s-size;
    padding-bottom: $s-size;
    padding-left: $m-size;
}

.weather-card__title {
    font-size: 2rem;
    font-weight: 500;
}

.weather-card__temperature {
    font-size: $xl-size;
    font-weight: 500;
}

.weather-card__condition {
    color: #999;
    font-size: $xm-size;
    margin-top: $xs-size;
    margin-bottom: $l-size;
}

@media (max-width: $desktop-breakpoint) {
    .weather-card__container {
        max-width: 20rem;
    }

    .weather-card__icon {
        opacity: 0.3;
        margin: 0;
        padding: 1rem;
        height: 100%;
        width: 100%;
    }

    .weather-card__condition {
        margin: 0;
    }

    .weather-card__text-container {
        padding-right: $m-size;
    }

    .weather-card__title {
        font-size: $xm-size;
    }

    .weather-card__temperature {
        font-size: 4.4rem;
    }
}