.add-notification__form-container {
    padding-top: $s-size;
    animation: fadein .3s ease-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add-notification__button-container {
    padding-top: $s-size;
    text-align: right;
}

.add-notification__button {
  background: $submit-btn;
  color: white;
  outline: none;
  border: none;
  border-radius: $xs-size;
  font-size: $xm-size;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s;
  padding: $s-size $m-size;
  width: 24.4rem;
}

.add-notification__button--big {
  width: auto;
  padding-left: $xl-size;
}

.add-notification__button:hover {
  background: darken($submit-btn, 5%);
}

.add-notification__button:disabled {
  background: $light-grey;
  cursor: default;
}


.add-notification__inputs {
    display: flex;
    justify-content: space-between;
    margin: 0 (-$xs-size);
}

.add-notification__input-item {
    margin: 0 $xs-size;
}

.add-notification__spinner-container {
  max-height: 2rem;
  position: relative;
}

.add-notification__spinner {
  position: relative;
  top: -0.3rem;
}

@media (max-width: $desktop-breakpoint) {
  .add-notification__button-container {
    text-align: left;
  }

  .add-notification__button {
    width: 100%;
  }

  .add-notification__button--big {
    font-size: $m-size;
  }

  .add-notification__inputs {
    flex-direction: column;
  }
}