.notification-item__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: .1rem solid $light-grey;
    border-top: none;
    padding: $s-size $s-size $s-size 0;
    color: $light-black;
}

.notification-item {
    flex: 1;
    text-align: center;
}

.notification-item__delete-button {
    position: absolute;
    right: 0;

    color: red;
    font-size: $xm-size;
    font-weight: 700;
    margin-right: $s-size;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

.notification-item__delete-spinner {
    position: absolute;
    right: 0;
    margin-right: $s-size;
}